*{
  padding: 0;
  margin: 0;
  
}

.topcontainer{
 
  background-color: #360369;
}

.topcontainer h1{
  margin-left: 30px;
  color: #FFF;
font-family: Montserrat;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 15px 0px;
}


.topcontainer>p{
  margin-left: 30px;
  color: #FFF;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding: 30px 10px 0px 0px;
margin-bottom: 30px;
}

.latitudediv{
  margin-left: 30px;
  width: 380px;
height: 87px;
flex-shrink: 0;
border-radius: 10px;
background: #270846;
display:flex;
align-items: center;
justify-content:center;
}

.latitudediv p{
  color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: transparent;
}


.longitudediv{
  width: 380px;
height: 87px;
flex-shrink: 0;
border-radius: 10px;
background: #270846;
display:flex;
align-items: center;
justify-content:center;
}

.longitudediv p{
  color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: transparent;
}

#mapiframe{
  margin-left: 30px;
}

.coordinates{
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}


.bottomcontainer{
  height: 70vh;
  background-color: white;
  margin-left: 30px;
}

.bottomcontainer>p{
  color: #360369;
font-family: Montserrat;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 30px;
}

.locationclass p{
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.locationclass{
  border-radius: 10px;
border: 2px solid #360369;
background: #360369;
width: 25vw;
padding: 20px;
}


.bottomcontainerdivs{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}